/*DEVELOPER: Alice Woodruff, IS117-006, Spring 2018 */

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.track {
  display: none;
}

.card-img-top {
  max-width: 300px;
  max-height: 300px;
  margin: auto;
}

.card-header {
  font-weight: bold;
}

li {
  text-align: left;
}


.spotify:hover {
    color: #45d365;
}

.amazon:hover {
    color: goldenrod;
}
.tunes:hover {
    color: deepskyblue;
}

.big {
    font-size:150%;
}

.helv {
    font-family: "Helvetica Neue";
}
.fantasy {
    font-family: "fantasy";
}


.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 85%;
    height: 85%;
    opacity: 0.75;
}
.person:hover {
    border-color: #e2e2e2;
}

.thumbnail img {
    height:400px;
    width:100%;
}

.scaleimg {
    max-height: 35%;
    max-width: 35%;
}

